@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown-container {
  h1 {
    @apply mb-2 text-4xl font-extrabold;
  }
  h2 {
    @apply text-3xl font-extrabold;
  }
  h3 {
    @apply text-2xl font-extrabold;
  }
  h4 {
    @apply text-xl font-extrabold;
  }
  h4 {
    @apply text-lg font-extrabold;
  }
  h5 {
    @apply text-lg font-bold;
  }
  ul,
  ol {
    @apply pl-10;
  }
  ul li {
    list-style: disc;
  }
  ol li {
    list-style: decimal;
  }
  a {
    @apply link-neutral link;
  }
}

.rc-md-editor {
  @apply rounded-xl overflow-hidden
}

.bootstrap-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .bootstrap-container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .bootstrap-container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .bootstrap-container {
    width: 1170px;
  }
}
